<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="app.js"></script>
    <title>Document</title>
</head>
<body>
  <div class = "container">
      <div class="searchbar">
          <form action="/" method="post">
            <input type="text" name="searchbar" placeholder="enter your city here">
            <input type="submit" value="Search">
        </form>
      </div>
      <div class="icon">
          <img src="" alt="" srcset="">
      </div>
      <div class="CityName">
          <% if (city===null) { %>
            <h3><%="Lets See"%></h3>
          <% } else { %>         
            <p><%= city %></p>
          <% } %>                   
      </div>
      <div class="temp_details">
          <div class="detail">
              <div class="temp">Temperature</div>
              <div class="temp"><%=weatherTemp%>&#8451</div>
          </div>
          <div>
              <div class="description">Description</div>
              <div class="description"><%=weatherDescrip%></div>
          </div>
          <div>
            <div class="wind">Wind</div>
            <div class="wind"><%=weatherWind%> m/s</div>
        </div>
      </div>
  </div>

    
</body>
</html>