<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <div class ="container">
    <div class="top-container">
      
        <div class="cityname">
          <% if (city===null) { %>
            <h3><%="What's the weather like?"%></h3>
          <% } else { %>         
            <h3><%= city %></h3>
          <% } %>                   
        </div>
        <div id="searchbar">
          <form action="/" method="post">
          <input type="text" name="searchbar" placeholder="enter your city here">
          <input type="submit" value="Search">
          </form> 
        </div>  
        <div class="icon">
          <img src="" alt="" srcset="">
        </div>
      
    </div>

    
      <div class="flex-container">
        <div class="detail">
          <div class="temp">Temperature</div>
          <div class="temp">
            <p><%=weatherTemp%>&#8451</p>
          </div>
        </div>
        <div class="detail">
          <div class="description">Description</div>
          <div class="description">
            <p><%=weatherDescrip%></p>
          </div>
        </div>
        <div class="detail">
          <div class="wind">Wind</div>
          <div class="wind">
            <p><%=weatherWind%> m/s</p>
          </div>
        </div>
      </div>
      
 
      
  </div>

    
</body>
</html>